@using EntityLayer.Concrete
@model List<Message>
@{
    ViewBag.Title = "Drafts";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<body class="hold-transition sidebar-mini">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Taslaklar</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            @Html.Action("MessageListMenu", "WriterPanelMessage")
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Kaydedilmiş Mesajlar</h3>
                        <div class="card-tools">
                            @using (Html.BeginForm("Drafts", "WriterPanelMessage", FormMethod.Get))
                            {
                                <div class="input-group input-group-sm">
                                    <input type="text" name="search" id="tableSearchDrafts" class="form-control"
                                           placeholder="Taslaklarda Ara" value="@ViewBag.CurrentSearch">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <form id="bulkActionFormDrafts" method="post" action="/WriterPanelMessage/DraftsBulkMoveToTrash">

                        <div class="card-body p-0">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="draftsTable">
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="icheck-primary">
                                                        <input type="checkbox" name="messageIds" value="@x.MessageId" id="check@(x.MessageId)">
                                                        <label for="check@(x.MessageId)"></label>
                                                    </div>
                                                </td>

                                                <td class="mailbox-star">
                                                    <a href="/WriterPanelMessage/NewMessage/@x.MessageId">
                                                        <i class="fas fa-edit text-info" title="Taslağı Düzenle"></i>
                                                    </a>
                                                </td>

                                                <td class="mailbox-name">
                                                    <a href="/WriterPanelMessage/NewMessage/@x.MessageId">
                                                        @(string.IsNullOrEmpty(x.ReceiverMail) ? "Alıcı Yok" : x.ReceiverMail)
                                                    </a>
                                                </td>

                                                <td class="mailbox-subject">
                                                    <a href="/WriterPanelMessage/NewMessage/@x.MessageId">
                                                        <b>@x.Subject</b> - @( !string.IsNullOrEmpty(x.MessageContent) && x.MessageContent.Length > 50
                                                                                                    ? x.MessageContent.Substring(0, 50) + "..."
                                                                                                    : x.MessageContent ?? "" )
                                                    </a>
                                                </td>

                                                <td class="mailbox-attachment"></td>

                                                <td class="mailbox-date">
                                                    @(((DateTime)x.MessageDate).ToString("dd-MMM-yyyy"))
                                                </td>

                                                <td>
                                                    <a href="/WriterPanelMessage/MessageMoveToTrash/@x.MessageId" class="btn btn-default btn-sm"
                                                       title="Taslağı Sil (Çöp Kutusuna Taşı)"
                                                       onclick="return confirm('Bu taslağı çöp kutusuna taşımak istediğinizden emin misiniz?')">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer p-0">
                            <div class="mailbox-controls">
                                <button type="button" class="btn btn-default btn-sm checkbox-toggle-drafts">
                                    <i class="far fa-square"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm" id="bulkTrashBtnDraftsFooter">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                                <a href="/WriterPanelMessage/Drafts" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
<script>
    $(function () {

        // 1. CANLI ARAMA (LIVE SEARCH) ENTEGRASYONU
        // Arama inputu ID'si: tableSearchDrafts (View'a bu ID'yi eklediğinizi varsayıyoruz)
        // Tablo ID'si: draftsTable (View'a bu ID'yi eklediğinizi varsayıyoruz)
        $("#tableSearchDrafts").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            // draftsTable içindeki tüm tablo satırlarını (tr) filtrele
            $("#draftsTable tbody tr").filter(function () {
                // Satırın metnini küçük harfe çevirip, arama kelimesi içerip içermediğini kontrol et
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        // 2. CHECKBOX TOGGLE (Mevcut kodunuz)
        $('.checkbox-toggle-drafts').on('click', function () {
            var clicks = $(this).data('clicks');
            if (clicks) {
                // Tüm checkbox'ları bırak
                $('.mailbox-messages input[type="checkbox"]').prop('checked', false);
                $('.checkbox-toggle-drafts .far.fa-check-square').removeClass('far fa-check-square').addClass('far fa-square');
            } else {
                // Tüm checkbox'ları seç
                $('.mailbox-messages input[type="checkbox"]').prop('checked', true);
                $('.checkbox-toggle-drafts .far.fa-square').removeClass('far fa-square').addClass('far fa-check-square');
            }
            $(this).data('clicks', !clicks);
        });

        // 3. TOPLU SİLME (ÇÖP KUTUSUNA TAŞIMA) (Mevcut kodunuz)
        $('#bulkTrashBtnDrafts, #bulkTrashBtnDraftsFooter').on('click', function () {
            var checkedCount = $('.mailbox-messages input[name="messageIds"]:checked').length;

            if (checkedCount > 0) {
                if (confirm('Seçili ' + checkedCount + ' taslağı çöp kutusuna taşımak istediğinizden emin misiniz?')) {
                    document.getElementById('bulkActionFormDrafts').submit();
                }
            } else {
                alert('Lütfen silmek için en az bir taslak seçin.');
            }
        });
    });
</script>