@using EntityLayer.Concrete
@model List<Content>
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="timeline">
                            @foreach (var x in Model)
                            {
                                <div class="time-label">
                                    <span class="bg-success">@(((DateTime)x.ContentDate).ToString("dd-MMM-yyyy"))</span>
                                </div>
                                <div>
                                    <i class="fas fa-comment bg-yellow"></i>
                                    <div class="timeline-item">

                                        <h3 class="timeline-header">

                                            @if (x.Writer != null)
                                            {
                                                <span class="float-right text-sm text-muted" style="margin-left: 15px;">
                                                    Yazar: <span class="text-dark">@x.Writer.WriterName @x.Writer.WriterSurname</span>
                                                </span>
                                            }

                                            @if (x.Title != null)
                                            {
                                                <a href="#">@x.Title.TitleName</a>
                                            }
                                            else
                                            {
                                                <a href="#">[Başlık Yok]</a>
                                            }
                                        </h3>

                                        <div class="timeline-body">
                                            @x.ContentValue
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>