@using EntityLayer.Concrete
@model List<Title>
@{
    ViewBag.Title = "MyTitle";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


@{
    string color = "";
}

<body class="hold-transition sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Başlık İşlemleri</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <a href="/WriterPanel/NewTitle" class="btn btn-info">Yeni Başlık Ekle</a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Başlık Adı
                            </th>
                            <th style="width: 15%">
                                Oluşturan Yazar
                            </th>
                            <th style="width: 10%" class="text-center">
                                Durum
                            </th>
                            <th style="width: 8%" class="text-center">
                                Kategori
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            string durumClass = (x.TitleStatus == true) ? "badge badge-success" : "badge badge-danger";
                            string durumMetin = (x.TitleStatus == true) ? "Aktif" : "Pasif";
                            string durumBoolean = (x.TitleStatus == true) ? "true" : "false"; 
                            string durumGosterim = $"{durumMetin}"; 

                            if (x.Category.CategoryName == "Dizi")
                            {
                                color = "badge badge-success";
                            }
                            else if (x.Category.CategoryName == "Film")
                            {
                                color = "badge badge-warning";
                            }
                            else if (x.Category.CategoryName == "Kitap")
                            {
                                color = "badge badge-info"; 
                            }
                            else if (x.Category.CategoryName == "Tiyatro")
                            {
                                color = "badge badge-secondary"; 
                            }
                            else if (x.Category.CategoryName == "Eğitim")
                            {
                                color = "badge badge-danger";
                            }
                            else if (x.Category.CategoryName == "Sosyal Medya")
                            {
                                color = "badge badge-success"; 
                            }
                            else if (x.Category.CategoryName == "Spor")
                            {
                                color = "badge badge-info";
                            }
                            else if (x.Category.CategoryName == "Blog")
                            {
                                color = "badge badge-primary"; 
                            }
                            else
                            {
                                color = "badge badge-light";
                            }

                            <tr>
                                <td>
                                    @x.TitleId
                                </td>
                                <td>
                                    <a>
                                        @x.TitleName
                                    </a>
                                    <br />
                                    <small>
                                        @(((DateTime)x.TitleDate).ToString("dd-MMM-yyyy"))
                                    </small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="@x.Writer.WriterImage">
                                        </li>
                                    </ul>
                                </td>
                                <td class="project-state">
                                    <span class="@durumClass">@durumGosterim</span>
                                </td>
                                <td class="project-state">
                                    <span class="@color">@x.Category.CategoryName</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/WriterPanel/WriterContents/@x.TitleId">
                                        <i class="fas fa-folder">
                                        </i>
                                        Yazılar
                                    </a>
                                    <a class="btn btn-info btn-sm" href="/WriterPanel/EditTitle/@x.TitleId">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/WriterPanel/DeleteTitle/@x.TitleId">
                                        <i class="fas fa-trash">
                                        </i>
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
</body>
